/* andy */
.adduser-itemBox>div input{
  height: 23px;
  line-height: 23px;
  width: 100%;
  text-indent: 8px;
}
.adduser-itemBox>div input,.adduser-itemBox>div textarea{
  outline: none;
  background: #2e1c34;
  border: 1px solid #3d2b43;
  margin-right: 10px;
  color: #fff;
  margin: 0;
}
.tdBtn-box>div{
  cursor: pointer;
}
.tdBtn-view{
  background: #e65c20;
  padding: 0 5px;
  border-radius: 2px;
  text-align: center;
  width: 45%;
  float: right;
}
.newView{
  min-width:80px ;
  background: #7a6fbe;
  padding: 0 5px;
  border-radius: 2px;
  width: 48%;
  float: left;
}

/* 钱包/首页页面 */
.bkpages{
  width: 90%;
}
/* 钱包/交易记录页面 */
.repages{
  width: 72%;
}

/* 钱包结算状态 */
.btn-color-0{background: #f34b2a!important;} /*未付款*/
.btn-color-1{background: #efae12!important;} /*已付款*/

/* map */
.notSame{
  position: relative;
}
.baidumap{
  position: absolute;
  top: 0;
  left: 333px;
}
.baidumap img{
  width:32px;
  height:32px;
}
.dzhome{
  padding: 0 90px;
}

.bankselect .el-input--suffix .el-input__inner{
  outline: none;
  background: #2e1c34;
  border: 1px solid #3d2b43;
  color: #fff;
  height: 32px;
}
.tiplist .el-table tr th{
  background: #462747;
}

.itemline .el-input--suffix .el-input__inner{
  outline: none;
  background: #2e1c34;
  border: 1px solid #3d2b43;
  color: #fff;
  height: 32px;
  width: 352px;
  padding-left: 0;
}


.main input{
  font-size: 12px;
  background: none;
  border: none;
  outline: none;
  color: #fff;
  width: 100%;
  height: 26px;
  line-height: 26px;
}
.main .res-input{
  padding: 0 5px;
  background: #6f4e79;
  border: 1px solid #48344f;
}
.main .el-input {
  width: 100%;
}
.main .res-input .el-input__icon {
  line-height: 26px;
}
.res-export{
  color: #fff;
  font-size: 12px;
  background: rgb(242,86,86);
  padding: 3px 6px;
  border-radius: 2px;
  cursor: pointer;
}
.outside .el-input--suffix .el-input__inner{
  padding-right: 20px;
}
.tb-es .el-select input{
  width: 100px!important;
}